*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
header img {
    height: 50px;
}

header input{
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid goldenrod;
}


#banner {
    width: 100%;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    background-image: url("./assets/am5beikmn7m01.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid goldenrod;
}

#logo {
    display: block;
    height: 300px;
    margin-right: 100px;
    
}


@media (max-width: 810px){
    #banner {
        height: 400px;
        background-size: cover;
        background-position-x: 30%;

    }
    #logo {
        display: none;
    }
}

#heroes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

article {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding:10px;
    border: 1px solid goldenrod;
    border-radius: 10px;
}

article > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: white;
}

button {
    display: flex;
    width: 100px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid goldenrod;
    background-color: black;
    color: goldenrod;

}
